 h1 {
      color: white;
      background-color: darkcyan;
      font-size: 80px;
      font-weight: 100;
      /* border-width: 4px;
      border-style: solid;
      border-color: black; */
      border: 4px solid darkgreen;
      border-radius: 10px;
      padding: 10px;
      margin: 10px;

    }

    P {
      color: whitesmoke;
      background-color: darkcyan;
      font-size: 30px;
      border: 4px solid darkgreen;
      border-radius: 6px;
      padding: 10px;
      margin: 10px;
    }
    
    img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      border: 2px solid black;
      /* padding-top: 10px;
      padding-right: 20px;
      padding-bottom: 30px;
      padding-left: 40px;*/

      padding: 10px 20px 30px 40px;
      margin: 10px 20px 30px 40px;
    } 

    a {
      color: green;
    }