/* GLOBAL */
body {
  background-color: yellowgreen;
  color: #12356B;
  margin-top: 0;
}

/* NAVBAR */
#navbar {
  color: skyblue;
  background-color: rgb(100, 79, 128);
  padding: 5px 10px;
  margin-top: 0px;
}

#navbar {
  list-style: none;
  Padding-left: 0;
  text-align: center;
}

#navbar li {
  display: inline-block;
  margin: 0 40px;
}
#navbar li a {
  color: skyblue;
  text-decoration: none;
  font-size: 24px;
}
/* HEADER */
#header {
   text-align: center;
}

#header h1 {
  font-size: 64px;
  margin-bottom: 6px;
}

#header p {
  font-size: 24px;
  margin-top: 5px;
}

#header ul{
  list-style: none;
  Padding-left: 0; 
}

#header ul li{
  display: inline-block;
  margin: 0 20px;
}

#header ul li a {
  color: #130b83;
  text-decoration: none;
}

/* ABOUT */
#about {
  margin-top: 30px;
  color: skyblue;
  background-color: rgb(100, 79, 128);
  padding: 5px 10px;
  border-radius: 10px;
}

/* EXPERIENCE */
#experience {
  margin-top: 30px;
  border: 2px solid #12356B;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: yellowgreen;
}

#experience ul {
 list-style: none;
 Padding-left: 0;
}

#experience .Vumela{
 margin-bottom: 30px 0;
}

#experience .Vumela>li {
  font-size: 18px;
  font-weight: 700px;
  background-color:rgb(100, 79, 128);/* rgba(47, 77, 119, 0.5);*/
  color: skyblue;
  padding: 2px 10px;
  border-radius: 20px;
  margin-bottom: 5px;
}

#experience .Vumela div {
  text-align: right;
  font-style: italic;
}

/* PROJECTS */
#projects {
  margin-top: 30px;
  text-align: center;
  border: 2px solid #12356B;
  padding: 5px 10px;
  border-radius: 10px;
}
#projects h1 {
  text-align: left;
}

#projects .project {
  display: inline-block;
  width: 250px;
  height: 250px;
  margin: 0 10px;
  background-color: rgb(100, 79, 128); /*rgba(47, 77, 119, 0.5);*/
  /*color: white;*/
  font-size: 24px;
  padding: 100px 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

#projects .project:hover {
  color: skyblue;
  cursor: pointer;
  /* width: 270px;
  height: 270px; */
}
#projects .project a {
  color: skyblue;
  text-decoration: none;
}

/*SKILLS*/
#skills {
  color: skyblue;
  background-color: rgb(100, 79, 128);
  margin-top: 30px;
  padding: 5px 10px;
  border-radius: 10px;

}